{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
    <div class="products">
        {% for product in products %}
            <div class="product">
                <div class="img-div"><img src="/media/{{product.image}}" alt="image" class="img"></div>
                <div class="some"><p class="product_name">{{product.name}}</p>
                <p class="price">{{product.price}}$</p></div>
                <button class="buy">Buy</button>
            </div>
            {%empty%}
            <h2>There is no product yet!</h2>
        {% endfor %}
    </div>
    <br>
    <hr>
    <div class="products">
        {% for video in videos %}
            <div class="product" id="video">
                <div class="img-div"><video controls src="/media/{{video.video}}" class="img" id="img"></video></div>
                <div class="some"><p class="product_name" id="vid_name">{{video.title}}</p></div>
            </div>
            {%empty%}
            <h2>There is no Video yet!</h2>
        {% endfor %}
    </div>
{% endblock %}